[submodule ".registry"]
	path = .registry
	url = https://github.com/lepennec/lepennec.r-universe.dev
	branch = HEAD
[submodule "ggwordcloud"]
	path = ggwordcloud
	url = https://github.com/lepennec/ggwordcloud
